$white:     #FFF;
$gray-4:    #D5D3D2;
$gray-5:    #C6C5C5;
$gray-6:    #A09E9E;

$blue-4:    #8EC7D8;
$blue-5:    #72B9CE;
$blue-6:    #4FA7C2;

$orange-4:  #E6A673;
$orange-5:  #E09050;
$orange-6:  #D87424;

$teal-4:    #76D0C9;
$teal-6:    #1BB1A5;
