html {
  font-size: 14px; }
  @media (min-width: 451px) {
    html {
      font-size: 16px; } }
  @media (min-width: 751px) {
    html {
      font-size: 18px; } }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #242424;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }

section {
  display: block;
  padding: 0 2rem; }

footer {
  color: #F1F1F1;
  font-size: 0.8rem;
  margin: 1rem 0;
  text-align: center; }
  @media (min-width: 451px) {
    footer {
      margin: 3rem 0 1rem 0; } }

.mobile-hide {
  display: hidden; }
  @media (min-width: 451px) {
    .mobile-hide {
      display: inline-block; } }

.title {
  background-image: url("../img/icon.svg");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 85px;
  max-width: 300px;
  margin: 1.5rem auto;
  transition: 0.4s ease; }
  @media (min-width: 751px) {
    .title {
      background-size: 100%;
      height: 155px; } }

p {
  font-size: 1rem;
  color: #777; }

a {
  color: #3B94D9;
  text-decoration: none;
  cursor: pointer; }

a:hover {
  opacity: .7; }

.container {
  background-color: #EAEDF0;
  width: 100%;
  height: 10rem;
  margin: 0 auto; }

button {
  background-color: #E2DDDB;
  box-shadow: 0 1px 0px 0px #cbc2bf, 0 -1px 0px 0 #f6f5f4;
  border-radius: 8px;
  color: #747474;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1rem; }

button:active {
  background-color: #d7d0cd;
  box-shadow: 0 1px 0px 0px #c0b5b1, 0 -1px 0px 0 #f0edec; }

.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  float: left;
  cursor: pointer; }

.icon:hover {
  opacity: .7; }

.icon.etsy {
  background-image: url("../img/etsy.svg"); }

.icon.facebook {
  background-image: url("../img/facebook.svg"); }

.icon.twitter {
  background-image: url("../img/twitter.svg"); }

.clearfix:after, .row:after, .card:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, * html .row, * html .card, * html .row {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .row, *:first-child + html .card, *:first-child + html .row {
  zoom: 1; }

/* IE7 */
.row {
  margin: 0 auto;
  max-width: 960px; }

.column {
  margin: 1rem;
  padding: 0.5rem 1%; }
  .column.half {
    width: 50%; }

.card {
  margin: 0;
  padding: 0.5rem 1rem; }
  @media (min-width: 451px) {
    .card {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      background-color: #535152;
      margin: 1rem;
      padding: 0.5rem; } }

.slider {
  display: none; }
  @media (min-width: 451px) {
    .slider {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;
      margin: 1rem;
      display: block; } }

.sss {
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden; }

.caption {
  color: white;
  background-color: #535152;
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: -2.5rem;
  opacity: 0.9; }

.column.thumbnail {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  background-color: #242424;
  cursor: pointer;
  display: inline-block;
  float: left;
  margin: 0 0 1.5rem 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%; }
  @media (min-width: 451px) {
    .column.thumbnail {
      margin: 1%;
      padding-bottom: calc(36% + 3.5rem);
      width: 48%; } }
  @media (min-width: 751px) {
    .column.thumbnail {
      margin: 1%;
      padding-bottom: calc(23.3333% + 3.5rem);
      width: 31.3333%; } }
  .column.thumbnail:hover {
    opacity: .6; }
.column .product-title {
  padding-bottom: 16%;
  width: 31.3333%; }

.shot {
  pointer-events: none; }
  @media (min-width: 451px) {
    .shot {
      position: absolute; } }
  .shot img {
    width: 100%; }

.shot-text {
  background-color: #535152;
  float: left;
  position: relative;
  width: 100%;
  height: 3.5rem; }
  @media (min-width: 451px) {
    .shot-text {
      background-color: #242424; } }

.shot-title {
  color: rgba(249, 249, 249, 0.8);
  font-size: 1.2rem;
  line-height: 1.4rem;
  position: absolute;
  bottom: 0;
  margin: 1rem;
  text-align: left; }
  @media (min-width: 451px) {
    .shot-title {
      font-size: 0.9rem;
      margin: 1rem 1rem 1.6rem 1rem; } }

.shot-description {
  color: rgba(249, 249, 249, 0.5);
  margin: 1.1rem 1rem;
  font-size: 1rem;
  text-align: right; }
  @media (min-width: 451px) {
    .shot-description {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0;
      margin: 0;
      margin-left: 1rem;
      text-align: left;
      margin-bottom: 0.6rem; } }

.shot-price {
  color: #f9f9f9; }
