html {
  font-size: 16px; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #242424;
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0; }

section {
  display: block;
  padding: 0 2rem; }

footer.row {
  margin: 8rem auto 3rem auto; }
footerp {
  text-align: center; }

.title {
  background-image: url("../img/icon.svg");
  background-size: 100%;
  max-width: 600px;
  height: 250px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 15vh; }
  @media screen and (min-width: 520px) {
    .title {
      height: 350px; } }

p {
  font-size: 1.2rem;
  margin-top: -1.2rem;
  text-align: center;
  color: #777; }

.row {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem; }

a {
  color: #3B94D9;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    opacity: .7; }

.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  float: left;
  cursor: pointer; }
  .icon:hover {
    opacity: .7; }
  .icon.etsy {
    background-image: url("../img/etsy.svg"); }
  .icon.facebook {
    background-image: url("../img/facebook.svg"); }
  .icon.twitter {
    background-image: url("../img/twitter.svg"); }

.clearfix:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix, * html .row {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix, *:first-child + html .row {
  zoom: 1; }

/* IE7 */
