html {
  font-size: 16px;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #242424;
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
}

section {
  display: block;
  padding: 0 2rem;
}

footer {
  &.row {
    margin: 8rem auto 3rem auto;
  }

  &p {
    text-align: center;
  }
}

.title {
  background-image: url("../img/icon.svg");
  background-size: 100%;
  max-width: 600px;
  height: 250px;
  margin: 0 auto;
  background-repeat: no-repeat;
  margin-top: 15vh;

  @media screen and (min-width: 520px) {
    height: 350px;
  }
}

p {
  font-size: 1.2rem;
  margin-top: -1.2rem;
  text-align: center;
  color: #777;
}

.row {
  @extend .clearfix;
  margin: 0 auto;
  max-width: 1200px;
  // padding: 0 1rem;
  padding: 2rem;
}

a {
  color: #3B94D9;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: .7;
  }
}

.container {
  background-color: #EAEDF0;
  width: 100%;
  height: 10rem;
  margin: 0 auto;
}

// ----- Buttons ----- //
button {
  background-color: #E2DDDB;
  box-shadow: 0 1px 0px 0px darken(#E2DDDB, 10%), 0 -1px 0px 0 lighten(#E2DDDB, 9%);
  border-radius: 8px;
  color: #747474;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;

  &:active {
    background-color: darken(#E2DDDB, 5%);
    box-shadow: 0 1px 0px 0px darken(#E2DDDB, 15%), 0 -1px 0px 0 lighten(#E2DDDB, 6%);

  }
}

// Icons
.icon {
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60px;
  height: 60px;
  margin: 0 0.5rem;
  float: left;
  cursor: pointer;

  &:hover { opacity: .7; }

  &.etsy { background-image: url("../img/etsy.svg"); }
  &.facebook { background-image: url("../img/facebook.svg"); }
  &.twitter { background-image: url("../img/twitter.svg"); }
}

// ----- Utilities ----- //

// Clearfix
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
